body {

    text-align: center;
    background-image: linear-gradient(to left red,blue,green)
}


h1 {

    font-size: 100px;
    font font-family: fantasy;




}

.links{
    
    float: left;
    text-decoration-line: overline;
    font-family: sans-serif;
    font-size: 25px;
    t 
    
    
}



#Gallery{
    
    
    border-image-width: auto;
  
    
}
